In [142]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
import string

In [2]:
pwd()

'D:\\Google Drive\\BaTScrape'

In [14]:
bat1 = pd.read_csv('output2.csv')

In [15]:
type(bat1)

pandas.core.frame.DataFrame

In [16]:
bat1.head(10)

,Timestamp,Listing Title,Car Make and Model,Current Bid Price,Number of Bids,View Stats,Number of Comments,Essentials Table,Essentials Cont'd
0,2018-03-21 17:05:51,2005 Mercedes-Benz SL65 AMG for sale on BaT Au...,2005 Mercedes-Benz SL65 AMG,"USD $24,000",9,"7,293 views,359 watchers",49 Comments,"Lot #8683,Seller: ,DallasMotorClub,Location: D...","Model Page: ,Mercedes-Benz R230 SL,Category: ,..."
1,2018-03-21 17:05:51,1963 Volkswagen Beetle for sale on BaT Auction...,1963 Volkswagen Beetle,NaN,8,"8,524 views,392 watchers",48 Comments,"Lot #8680,Seller: ,onlinems,Location: Plainfie...","Model Page: ,Volkswagen Beetle,Category: ,German"
2,2018-03-21 17:05:51,No Reserve: 1985 BMW 323i Baur TC for sale on ...,No Reserve: 1985 BMW 323i Baur TC,"USD $3,500",16,"5,825 views,226 watchers",64 Comments,"Lot #8682,Seller: ,SVclassics,Location: Miami,...","Model Page: ,BMW E30,Category: ,German"
3,2018-03-21 17:05:51,1988 BMW M6 for sale on BaT Auctions - ending ...,1988 BMW M6,"USD $53,000",42,"8,842 views,568 watchers",132 Comments,"Lot #8679,Seller: ,Smileywm,Location: Charlott...","Model Page: ,BMW E24 6-Series,Category: ,German"
4,2018-03-21 17:05:51,1990 Rover Mini for sale on BaT Auctions - end...,1990 Rover Mini,"USD $10,750",13,"10,323 views,420 watchers",56 Comments,"Lot #8685,Seller: ,rfetyani,Location: West New...","Model Page: ,Mini Classic,Category: ,British"
5,2018-03-21 17:05:51,No Reserve: 1958 Triumph TR3A Restoration Proj...,No Reserve: 1958 Triumph TR3A Restoration Project,NaN,17,"8,002 views,355 watchers",56 Comments,"Lot #8681,Seller: ,cascadia,Location: Portland...","Model Page: ,Triumph TR3,Category: ,British"
6,2018-03-21 17:05:52,No Reserve: 1973 Mercedes-Benz 450SL for sale ...,No Reserve: 1973 Mercedes-Benz 450SL,"USD $5,900",12,"5,464 views,363 watchers",30 Comments,"Lot #8687,Seller: ,billschroth,Location: Athen...","Model Page: ,Mercedes-Benz R107 SL,Category: ,..."
7,2018-03-21 17:05:52,No Reserve: 1970 BMW 2800 5-Speed for sale on ...,No Reserve: 1970 BMW 2800 5-Speed,"USD $4,550",17,"7,749 views,318 watchers",28 Comments,"Lot #8684,Seller: ,anmcarter,Location: Alton, ...","Model Page: ,BMW E3,Category: ,German"
8,2018-03-21 17:05:52,S54-Powered 1984 BMW 528e 6-Speed for sale on ...,S54-Powered 1984 BMW 528e 6-Speed,"USD $22,000",5,"11,361 views,401 watchers",83 Comments,"Lot #8690,Seller: ,arnoldalsua,Location: Canog...","Model Page: ,BMW 5-Series,Category: ,German"
9,2018-03-21 17:05:52,2000 BMW M Coupe for sale on BaT Auctions - en...,2000 BMW M Coupe,"USD $14,500",7,"8,780 views,533 watchers",48 Comments,"Lot #8693,Seller: ,billpickles,Location: Wilmi...","Model Page: ,BMW M Coupe,Category: ,German"

In [27]:
# Separate Status from listing title
bat1['Listing Status'] = [bat1['Listing Title'][i].split(' - ', maxsplit=1)[1] for i in range(len(bat1))]
bat1['Listing Status'] = [bat1['Listing Status'][i].split(' (Lot',maxsplit=1)[0] for i in range(len(bat1))]

In [30]:
#Generate Clean listing title
bat1['Clean Title'] = [bat1['Listing Title'][i].split(' - ',maxsplit=1)[0] for i in range(len(bat1))]
bat1['Clean Title'] = [bat1['Listing Title'][i].split(' for sale',maxsplit=1)[0] for i in range(len(bat1))]

In [40]:
bat1['Open'].describe()

count      152
unique       2
top       True
freq       110
Name: Open, dtype: object

In [35]:
# Generate factor-based listing status variable (open, closed)

for row in range(len(bat1)):
    bat1['Open'][row] = False
    if bat1['Listing Status'][row].split(' ')[0] == "ending":
        bat1['Open'][row] = True
    elif bat1['Listing Status'][row].split(' ')[0] == "closed":
        bat1['Open'][row] = False

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
sample3 = bat1['Listing Title'][112].split(' - ',maxsplit=1)[1].split(' | ', maxsplit=1)[0].split(' (')[0]
sample3

'sold for $45,500 on February 13, 2018'

In [33]:
bat1['Status'] = [bat1['Listing Title'][i].split(' - ',maxsplit=1)[1].split(' | ', maxsplit=1)[0].split(' (')[0] for i in range(len(bat1))]

In [141]:
bat1.head(50)

,Timestamp,Listing Title,Car Make and Model,Current Bid Price,Number of Bids,View Stats,Number of Comments,Essentials Table,Essentials Cont'd,Clean Title,Listing Status,Open,Num_Viewers,Num_Watchers,Num_Comments,Current_Bid_Price,Sale_Price
0,2018-03-21 17:05:51,2005 Mercedes-Benz SL65 AMG for sale on BaT Au...,2005 Mercedes-Benz SL65 AMG,"USD $24,000",9,"7,293 views,359 watchers",49 Comments,"Lot #8683,Seller: ,DallasMotorClub,Location: D...","Model Page: ,Mercedes-Benz R230 SL,Category: ,...",2005 Mercedes-Benz SL65 AMG,ending March 21,True,7293,359,49,24000,0
1,2018-03-21 17:05:51,1963 Volkswagen Beetle for sale on BaT Auction...,1963 Volkswagen Beetle,NaN,8,"8,524 views,392 watchers",48 Comments,"Lot #8680,Seller: ,onlinems,Location: Plainfie...","Model Page: ,Volkswagen Beetle,Category: ,German",1963 Volkswagen Beetle,"closed on March 21, 2018",False,8524,392,48,0,0
2,2018-03-21 17:05:51,No Reserve: 1985 BMW 323i Baur TC for sale on ...,No Reserve: 1985 BMW 323i Baur TC,"USD $3,500",16,"5,825 views,226 watchers",64 Comments,"Lot #8682,Seller: ,SVclassics,Location: Miami,...","Model Page: ,BMW E30,Category: ,German",No Reserve: 1985 BMW 323i Baur TC,ending March 21,True,5825,226,64,3500,0
3,2018-03-21 17:05:51,1988 BMW M6 for sale on BaT Auctions - ending ...,1988 BMW M6,"USD $53,000",42,"8,842 views,568 watchers",132 Comments,"Lot #8679,Seller: ,Smileywm,Location: Charlott...","Model Page: ,BMW E24 6-Series,Category: ,German",1988 BMW M6,ending March 21,True,8842,568,132,53000,0
4,2018-03-21 17:05:51,1990 Rover Mini for sale on BaT Auctions - end...,1990 Rover Mini,"USD $10,750",13,"10,323 views,420 watchers",56 Comments,"Lot #8685,Seller: ,rfetyani,Location: West New...","Model Page: ,Mini Classic,Category: ,British",1990 Rover Mini,ending March 21,True,10323,420,56,10750,0
5,2018-03-21 17:05:51,No Reserve: 1958 Triumph TR3A Restoration Proj...,No Reserve: 1958 Triumph TR3A Restoration Project,NaN,17,"8,002 views,355 watchers",56 Comments,"Lot #8681,Seller: ,cascadia,Location: Portland...","Model Page: ,Triumph TR3,Category: ,British",No Reserve: 1958 Triumph TR3A Restoration Project,"sold for $7,500 on March 21, 2018",False,8002,355,56,0,7500
6,2018-03-21 17:05:52,No Reserve: 1973 Mercedes-Benz 450SL for sale ...,No Reserve: 1973 Mercedes-Benz 450SL,"USD $5,900",12,"5,464 views,363 watchers",30 Comments,"Lot #8687,Seller: ,billschroth,Location: Athen...","Model Page: ,Mercedes-Benz R107 SL,Category: ,...",No Reserve: 1973 Mercedes-Benz 450SL,ending March 21,True,5464,363,30,5900,0
7,2018-03-21 17:05:52,No Reserve: 1970 BMW 2800 5-Speed for sale on ...,No Reserve: 1970 BMW 2800 5-Speed,"USD $4,550",17,"7,749 views,318 watchers",28 Comments,"Lot #8684,Seller: ,anmcarter,Location: Alton, ...","Model Page: ,BMW E3,Category: ,German",No Reserve: 1970 BMW 2800 5-Speed,ending March 21,True,7749,318,28,4550,0
8,2018-03-21 17:05:52,S54-Powered 1984 BMW 528e 6-Speed for sale on ...,S54-Powered 1984 BMW 528e 6-Speed,"USD $22,000",5,"11,361 views,401 watchers",83 Comments,"Lot #8690,Seller: ,arnoldalsua,Location: Canog...","Model Page: ,BMW 5-Series,Category: ,German",S54-Powered 1984 BMW 528e 6-Speed,ending March 22,True,11361,401,83,22000,0
9,2018-03-21 17:05:52,2000 BMW M Coupe for sale on BaT Auctions - en...,2000 BMW M Coupe,"USD $14,500",7,"8,780 views,533 watchers",48 Comments,"Lot #8693,Seller: ,billpickles,Location: Wilmi...","Model Page: ,BMW M Coupe,Category: ,German",2000 BMW M Coupe,ending March 22,True,8780,533,48,14500,0
10,2018-03-21 17:05:52,9K-Mile 1999 Lotus Esprit V8 for sale on BaT A...,9K-Mile 1999 Lotus Esprit V8,"USD $37,000",17,"15,703 views,787 watchers",76 Comments,"Lot #8689,Seller: ,jmjem,Location: Los Angeles...","Model Page: ,Lotus Esprit,Category: ,British",9K-Mile 1999 Lotus Esprit V8,ending March 22,True,15703,787,76,37000,0
11,2018-03-21 17:05:52,20K-Mile 2000 BMW Z3 2.3 5-Speed for sale on B...,20K-Mile 2000 BMW Z3 2.3 5-Speed,"USD $8,300",8,"5,475 views,355 watchers",60 Comments,"Lot #8686,Seller: ,Bitdrive,Location: Crystal ...","Category: ,German",20K-Mile 2000 BMW Z3 2.3 5-Speed,ending March 21,True,5475,355,60,8300,0
12,2018-03-21 17:05:52,1963 Porsche 356B Super 90 Coupe for sale on B...,1963 Porsche 356B Super 90 Coupe,"USD $50,000",14,"16,324 views,862 watchers",91 Comments,"Lot #8688,Seller: ,Hopalong,Location: Costa Me...","Model Page: ,Porsche 356,Category: ,German",1963 Porsche 356B Super 90 Coupe,ending March 22,True,16324,862,91,50000,0
13,2018-03-21 17:05:52,1967 Mercedes-Benz 230SL for sale on BaT Aucti...,1967 Mercedes-Benz 230SL,"USD $26,250",11,"6,340 views,470 watchers",61 Comments,"Lot #8691,Seller: ,europeancar,Location: Wichi...","Model Page: ,Mercedes-Benz W113 SL,Category: ,...",1967 Mercedes-Benz 230SL,ending March 22,True,6340,470,61,26250,0
14,2018-03-21 17:05:52,1981 Jeep Cherokee 4-Speed for sale on BaT Auc...,1981 Jeep Cherokee 4-Speed,"USD $6,000",12,"8,955 views,405 watchers",59 Comments,"Lot #8694,Seller: ,smelidossian,Location: Narr...","Model Page: ,Jeep Grand Wagoneer,Category: ,Am...",1981 Jeep Cherokee 4-Speed,ending March 22,True,8955,405,59,6000,0
15,2018-03-21 17:05:52,One-Owner 1967 Pontiac Firebird Convertible fo...,One-Owner 1967 Pontiac Firebird Convertible,"USD $20,000",16,"9,312 views,457 watchers",69 Comments,"Lot #8695,Seller: ,gcervz13,Location: Malibu, ...","Model Page: ,Pontiac Firebird,Category: ,American",One-Owner 1967 Pontiac Firebird Convertible,ending March 22,True,9312,457,69,20000,0
16,2018-03-21 17:05:52,48K-Mile 1998 Porsche 911 Carrera Cabriolet 6-...,48K-Mile 1998 Porsche 911 Carrera Cabriolet 6-...,"USD $25,000",13,"7,553 views,583 watchers",33 Comments,"Lot #8696,Seller: ,pacific,Location: Newport B...","Model Page: ,Porsche 993 911,Category: ,German",48K-Mile 1998 Porsche 911 Carrera Cabriolet 6-...,ending March 22,True,7553,583,33,25000,0
17,2018-03-21 17:05:52,2002 Volkswagen Eurovan Westfalia Weekender fo...,2002 Volkswagen Eurovan Westfalia Weekender,"USD $6,500",9,"7,703 views,356 watchers",26 Comments,"Lot #8697,Seller: ,johnw,Location: Longmont, C...","Category: ,German",2002 Volkswagen Eurovan Westfalia Weekender,ending March 22,True,7703,356,26,6500,0
18,2018-03-21 17:05:52,17K-Mile 2001 BMW Z8 for sale on BaT Auctions ...,17K-Mile 2001 BMW Z8,"USD $150,000",3,"13,263 views,675 watchers",111 Comments,"Lot #8692,Seller: ,MacflyZ8,Location: West Hol...","Model Page: ,BMW Z8,Category: ,German",17K-Mile 2001 BMW Z8,ending March 22,True,13263,675,111,150000,0
19,2018-03-21 17:05:52,No Reserve: 1974 Steyr-Puch Haflinger 5-Speed ...,No Reserve: 1974 Steyr-Puch Haflinger 5-Speed,"USD $11,000",15,"9,621 views,286 watchers",71 Comments,"Lot #8698,Seller: ,rareunique,Location: Monroe...","Category: ,Truck & 4x4",No Reserve: 1974 Steyr-Puch Haflinger 5-Speed,ending March 22,True,9621,286,71,11000,0
20,2018-03-21 17:05:52,1992 BMW M5 Touring for sale on BaT Auctions -...,1992 BMW M5 Touring,"USD $27,500",8,"17,197 views,707 watchers",68 Comments,"Lot #8699,Seller: ,grosser,Location: Westfield...","Model Page: ,BMW E34 M5,Category: ,German",1992 BMW M5 Touring,ending March 22,True,17197,707,68,27500,0
21,2018-03-21 17:05:52,No Reserve: 1989 Ford Mustang LX 5.0 Convertib...,No Reserve: 1989 Ford Mustang LX 5.0 Convertib...,"USD $4,100",4,"5,245 views,229 watchers",38 Comments,"Lot #8700,Seller: ,Watry,Location: Berkeley, C...","Model Page: ,Ford Fox-Body Mustang,Category: ,...",No Reserve: 1989 Ford Mustang LX 5.0 Convertib...,ending March 22,True,5245,229,38,4100,0
22,2018-03-21 17:05:52,No Reserve: 1986 Nissan Skyline GT Passage for...,No Reserve: 1986 Nissan Skyline GT Passage,"USD $3,300",3,"4,336 views,87 watchers",38 Comments,"Lot #8702,Seller: ,SVclassics,Location: Hollyw...","Category: ,Japanese",No Reserve: 1986 Nissan Skyline GT Passage,ending March 22,True,4336,87,38,3300,0
23,2018-03-21 17:05:52,1993 Mercedes-Benz 500SL for sale on BaT Aucti...,1993 Mercedes-Benz 500SL,"USD $4,300",9,"3,753 views,255 watchers",33 Comments,"Lot #8701,Seller: ,laflerd,Location: Dallas, T...","Model Page: ,Mercedes-Benz R129 SL,Category: ,...",1993 Mercedes-Benz 500SL,ending March 22,True,3753,255,33,4300,0
24,2018-03-21 17:05:52,1970 BMW 2800CS 3.5L for sale on BaT Auctions ...,1970 BMW 2800CS 3.5L,"USD $70,000",8,"21,137 views,882 watchers",140 Comments,"Lot #8704,Seller: ,Dean_Laumbach,Location: Nep...","Model Page: ,BMW E9,Category: ,German",1970 BMW 2800CS 3.5L,ending March 22,True,21137,882,140,70000,0
25,2018-03-21 17:05:52,No Reserve: 1990 Mercedes-Benz 560SEL for sale...,No Reserve: 1990 Mercedes-Benz 560SEL,"USD $17,000",17,"5,885 views,288 watchers",35 Comments,"Lot #8705,Seller: ,GLC,Location: Medford, Oreg...","Model Page: ,Mercedes-Benz W126 S-Class,Catego...",No Reserve: 1990 Mercedes-Benz 560SEL,ending March 22,True,5885,288,35,17000,0
26,2018-03-21 17:05:52,63K-Mile 1982 Porsche 928 for sale on BaT Auct...,63K-Mile 1982 Porsche 928,"USD $6,500",4,"5,096 views,334 watchers",35 Comments,"Lot #8707,Seller: ,amir458,Location: San Rafae...","Model Page: ,Porsche 928,Category: ,German",63K-Mile 1982 Porsche 928,ending March 22,True,5096,334,35,6500,0
27,2018-03-21 17:05:52,Modified 1976 BMW 2002 5-Speed for sale on BaT...,Modified 1976 BMW 2002 5-Speed,"USD $15,000",5,"9,158 views,370 watchers",45 Comments,"Lot #8706,Seller: ,RealFranzini,Location: East...","Model Page: ,BMW 2002,Category: ,German",Modified 1976 BMW 2002 5-Speed,ending March 22,True,9158,370,45,15000,0
28,2018-03-21 17:05:52,1965 Triumph TR4A IRS for sale on BaT Auctions...,1965 Triumph TR4A IRS,"USD $4,500",11,"9,219 views,554 watchers",48 Comments,"Lot #8708,Seller: ,MonzaCar,Location: Sherman ...","Model Page: ,Triumph TR4,Category: ,British",1965 Triumph TR4A IRS,ending March 22,True,9219,554,48,4500,0
29,2018-03-21 17:05:52,27K-Mile 1998 BMW Z3 2.8 5-Speed for sale on B...,27K-Mile 1998 BMW Z3 2.8 5-Speed,"USD $5,900",7,"3,957 views,277 watchers",27 Comments,"Lot #8709,Seller: ,CHLuber,Location: Rancho Mi...","Category: ,German",27K-Mile 1998 BMW Z3 2.8 5-Speed,ending March 22,True,3957,277,27,5900,0
30,2018-03-21 17:05:52,1973 DeTomaso Pantera for sale on BaT Auctions...,1973 DeTomaso Pantera,"USD $67,000",12,"17,795 views,839 watchers",95 Comments,"Lot #8710,Seller: ,Razer26,Location: Chandler,...","Model Page: ,DeTomaso Pantera,Category: ,Ameri...",1973 DeTomaso Pantera,ending March 22,True,17795,839,95,67000,0
31,2018-03-21 17:05:52,1971 Mercedes-Benz 280SL for sale on BaT Aucti...,1971 Mercedes-Benz 280SL,"USD $17,500",11,"6,015 views,530 watchers",35 Comments,"Lot #8712,Seller: ,Jeanmichelfaez,Location: Th...","Model Page: ,Mercedes-Benz W113 SL,Category: ,...",1971 Mercedes-Benz 280SL,ending March 23,True,6015,530,35,17500,0
32,2018-03-21 17:05:52,1995 Porsche 911 Carrera Coupe 6-Speed for sal...,1995 Porsche 911 Carrera Coupe 6-Speed,"USD $36,880",8,"11,070 views,775 watchers",35 Comments,"Lot #8711,Seller: ,Driveline,Location: Millbra...","Model Page: ,Porsche 993 911,Category: ,German",1995 Porsche 911 Carrera Coupe 6-Speed,ending March 23,True,11070,775,35,36880,0
33,2018-03-21 17:05:52,21K-Mile 1996 Porsche 911 Turbo for sale on Ba...,21K-Mile 1996 Porsche 911 Turbo,"USD $120,000",5,"21,059 views,797 watchers",55 Comments,"Lot #8714,Seller: ,Mikesk3,Location: Haledon, ...","Model Page: ,Porsche 993 Turbo,Category: ,German",21K-Mile 1996 Porsche 911 Turbo,ending March 23,True,21059,797,55,120000,0
34,2018-03-21 17:05:52,V8-Powered 1983 Datsun 280ZX 2+2 for sale on B...,V8-Powered 1983 Datsun 280ZX 2+2,"USD $5,383",12,"7,668 views,254 watchers",25 Comments,"Lot #8713,Seller: ,danjhorw,Location: Tulsa, O...","Category: ,Japanese",V8-Powered 1983 Datsun 280ZX 2+2,ending March 23,True,7668,254,25,5383,0
35,2018-03-21 17:05:52,1986.5 Porsche 928S 5-Speed for sale on BaT Au...,1986.5 Porsche 928S 5-Speed,"USD $16,928",5,"5,584 views,392 watchers",46 Comments,"Lot #8715,Seller: ,nweuro,Location: Issaquah, ...","Model Page: ,Porsche 928,Category: ,German",1986.5 Porsche 928S 5-Speed,ending March 23,True,5584,392,46,16928,0
36,2018-03-21 17:05:52,1991 BMW M5 for sale on BaT Auctions - ending ...,1991 BMW M5,"USD $11,000",5,"6,987 views,351 watchers",77 Comments,"Lot #8716,Seller: ,Mrrdstr,Location: Glendale,...","Model Page: ,BMW E34 M5,Category: ,German",1991 BMW M5,ending March 23,True,6987,351,77,11000,0
37,2018-03-21 17:05:52,No Reserve: 2002 Porsche 911 Turbo X50 Tiptron...,No Reserve: 2002 Porsche 911 Turbo X50 Tiptronic,"USD $25,000",1,"5,692 views,405 watchers",45 Comments,"Lot #8717,Seller: ,WellingtonSeller,Location: ...","Model Page: ,Porsche 996 911 Turbo,Category: ,...",No Reserve: 2002 Porsche 911 Turbo X50 Tiptronic,ending March 23,True,5692,405,45,25000,0
38,2018-03-21 17:05:52,No Reserve: 1985 Volkswagen T3 Doka Diesel 4-S...,No Reserve: 1985 Volkswagen T3 Doka Diesel 4-S...,"USD $8,600",17,"12,325 views,523 watchers",88 Comments,"Lot #8719,Seller: ,rareunique,Location: Monroe...","Category: ,German,, ,Truck & 4x4",No Reserve: 1985 Volkswagen T3 Doka Diesel 4-S...,ending March 23,True,12325,523,88,8600,0
39,2018-03-21 17:05:52,1975 Triumph TR6 for sale on BaT Auctions - en...,1975 Triumph TR6,"USD $6,000",7,"7,201 views,460 watchers",35 Comments,"Lot #8720,Seller: ,halatlanta,Location: Roswel...","Model Page: ,Triumph TR6,Category: ,British",1975 Triumph TR6,ending March 23,True,7201,460,35,6000,0
40,2018-03-21 17:05:52,24K-Mile 1988 BMW M6 for sale on BaT Auctions ...,24K-Mile 1988 BMW M6,"USD $14,750",5,"11,081 views,673 watchers",87 Comments,"Lot #8718,Seller: ,AutoSourceGroup,Location: M...","Model Page: ,BMW E24 6-Series,Category: ,German",24K-Mile 1988 BMW M6,ending March 23,True,11081,673,87,14750,0
41,2018-03-21 17:05:52,1972 Chevrolet Blazer for sale on BaT Auctions...,1972 Chevrolet Blazer,"USD $13,750",6,"10,846 views,436 watchers",54 Comments,"Lot #8721,Seller: ,ecolonna,Location: Danville...","Category: ,American,, ,Truck & 4x4",1972 Chevrolet Blazer,ending March 23,True,10846,436,54,13750,0
42,2018-03-21 17:05:52,28K-Mile 1987 Mercedes-Benz 560SL for sale on ...,28K-Mile 1987 Mercedes-Benz 560SL,"USD $25,750",7,"3,640 views,281 watchers",15 Comments,"Lot #8722,Seller: ,LD2311,Location: Boston, Ma...","Model Page: ,Mercedes-Benz R107 SL,Category: ,...",28K-Mile 1987 Mercedes-Benz 560SL,ending March 23,True,3640,281,15,25750,0
43,2018-03-21 17:05:53,No Reserve: 32K-Mile 2006 Porsche Cayman S Tip...,No Reserve: 32K-Mile 2006 Porsche Cayman S Tip...,"USD $20,000",11,"8,160 views,524 watchers",27 Comments,"Lot #8723,Seller: ,Jheurym,Location: Bel Air, ...","Model Page: ,Porsche Cayman,Category: ,German",No Reserve: 32K-Mile 2006 Porsche Cayman S Tip...,ending March 23,True,8160,524,27,20000,0
44,2018-03-21 17:05:53,1968 Lancia Fulvia Sport 1.3 S Zagato for sale...,1968 Lancia Fulvia Sport 1.3 S Zagato,"USD $18,000",9,"9,336 views,374 watchers",146 Comments,"Lot #8725,Seller: ,esoteriklaundry,Location: A...","Model Page: ,Lancia Fulvia,Category: ,Italian",1968 Lancia Fulvia Sport 1.3 S Zagato,ending March 23,True,9336,374,146,18000,0
45,2018-03-21 17:05:53,1971 Lotus Elan Plus 2 S130 for sale on BaT Au...,1971 Lotus Elan Plus 2 S130,"USD $17,880",9,"8,864 views,398 watchers",59 Comments,"Lot #8726,Seller: ,tr8bofin,Location: San Anto...","Model Page: ,Lotus Elan,Category: ,British",1971 Lotus Elan Plus 2 S130,ending March 23,True,8864,398,59,17880,0
46,2018-03-21 17:05:53,2003 BMW 540i Touring M Sport for sale on BaT ...,2003 BMW 540i Touring M Sport,"USD $15,000",6,"13,918 views,800 watchers",52 Comments,"Lot #8727,Seller: ,ripper996,Location: Lafayet...","Model Page: ,BMW 5-Series,Category: ,German",2003 BMW 540i Touring M Sport,ending March 23,True,13918,800,52,15000,0
47,2018-03-21 17:05:53,1995 Ferrari F355 Spider 6-Speed for sale on B...,1995 Ferrari F355 Spider 6-Speed,"USD $41,250",10,"18,395 views,691 watchers",88 Comments,"Lot #8731,Seller: ,sfmotorsportsgm,Location: S...","Model Page: ,Ferrari F355,Category: ,Italian",1995 Ferrari F355 Spider 6-Speed,ending March 23,True,18395,691,88,41250,0
48,2018-03-21 17:05:53,1968 Dodge Polara Convertible for sale on BaT ...,1968 Dodge Polara Convertible,"USD $3,000",6,"7,689 views,251 watchers",46 Comments,"Lot #8729,Seller: ,lacubfan,Location: Newbury ...","Category: ,American",1968 Dodge Polara Convertible,ending March 23,True,7689,251,46,3000,0
49,2018-03-21 17:05:53,1971 Toyota Corona Sedan 4-Speed for sale on B...,1971 Toyota Corona Sedan 4-Speed,"USD $8,300",7,"6,229 views,174 watchers",49 Comments,"Lot #8728,Seller: ,Pedro,Location: Milwaukee, ...","Category: ,Japanese",1971 Toyota Corona Sedan 4-Speed,ending March 23,True,6229,174,49,8300,0

In [71]:
#Generate integer variable for # of viewers, watchers, comments
bat1['Num_Viewers']=[str(bat1['View Stats'][i]).split(' views')[0] for i in range(len(bat1))]
for i in range(len(bat1)):
    if (type(bat1['Num_Viewers'][i]) == str) and (bat1['Num_Viewers'][i] != 'nan'):
        bat1['Num_Viewers'][i] = int(bat1['Num_Viewers'][i].replace(',',''))
    elif (bat1['Num_Viewers'][i] == 'nan'):
        bat1['Num_Viewers'][i] = 0

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [90]:
#Generate integer variable for # of watchers
# bat1['Num_Watchers']=[str(bat1['View Stats'][i]).split(' views,')[1] for i in range(len(bat1))]
# bat1['Num_Watchers']=[bat['Num_Watchers'][i].replace(' watchers','') for i in range(len(bat1))]
bat1['Num_Watchers'] = ['blank' for i in range(len(bat1))]
for i in range(len(bat1)):
    if (type(bat1['View Stats'][i]) == str) and (bat1['View Stats'][i] != 'nan'):
        bat1['Num_Watchers'][i] = bat1['View Stats'][i].split(' views,')[1]
        bat1['Num_Watchers'][i] = bat1['Num_Watchers'][i].replace(' watchers','')
        bat1['Num_Watchers'][i] = int(bat1['Num_Watchers'][i].replace(',',''))
    elif (bat1['Num_Watchers'][i] == 'nan') or (bat1['Num_Watchers'][i] == 'NaN') or (bat1['Num_Watchers'][i]=="blank"):
        bat1['Num_Watchers'][i] = 0

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [62]:
#bat1['Num_Viewers']=[int(bat1['Num_Viewers'][i].replace(',','')) for i in range(len(bat1))]
#bat1['Num_Watchers']=[(bat1['View Stats'][i].split(' views,')[1].replace(' watchers','')) for i in range(len(bat1))]
#bat1['Num_Comments']=[bat1['Number of Comments'][i].split(' Comments')[0] for i in range(len(bat1))]

In [95]:
#Generate integer variable for # of comments
bat1['Num_Comments']=[int(bat1['Number of Comments'][i].split(' Comments')[0]) for i in range(len(bat1))]

In [139]:
bat1['Open'][148]

False

In [111]:
#generate integer variable for current bid price
for i in range(len(bat1)):
    if type(bat1['Current Bid Price'][i]) == str:
        bat1['Current_Bid_Price'][i]=int(bat1['Current Bid Price'][i].split('USD $')[1].replace(',',''))
    else:
        bat1['Current_Bid_Price'][i] = 0

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [140]:
#generate integer variable for sale price
bat1['Sale_Price'] = [0 for i in range(len(bat1))]
for i in range(len(bat1)):
    if bat1['Open'][i] == False and ('sold' in bat1['Listing Title'][i]):
        bat1['Sale_Price'][i]=bat1['Listing Title'][i].split('sold for $',maxsplit=1)[1].split(' on ')[0].replace(',','')

C:\Users\anvan\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

'No Reserve: Renault R5 Turbo 2 TRX Wheels for sale on BaT Auctions - sold for $3,254 on March 20, 2018 (Lot #8,651) |  Bring a Trailer'

In [120]:
int(bat1['Listing Title'][131].split('sold for $')[1].split(' on ')[0].replace(',',''))

7600

In [77]:
sample1 = bat1['Essentials Table'][42].split('Location: ')[1].split(',')[:2]

In [83]:
sample2 = sample1[0]+sample1[1]

In [84]:
sample2

'Marshall Virginia 20115'